%nav.light-blue
  .nav-wrapper
    .brand-logo
      = link_to 'miniApp', root_path

    %ul#nav-mobile.right.hide-on-med-and-down
      - if user_signed_in?
        %li
          = link_to 'Sign_out', destroy_user_session_path, method: :delete
        %li
          = link_to 'New',new_blog_path
      - else
        %li
          = link_to 'Log_in',new_user_session_path
        %li
          = link_to 'Sign_up',new_user_registration_path

-# <h1>Hello World</h1>
-# <!-- card -->
-# <div class="row">
-#   <div class="col s12 m6 ">
-#     <div class="card teal">
-#       <div class="card-content white-text">
-#         <span class="card-title">Card Title</span>
-#         <p>I am a very simple card. I am good at containing small bits of information.
-#         I am convenient because I require little markup to use effectively.</p>
-#       </div>
-#       <div class="card-action">
-#         <a href="#">This is a link</a>
-#         <a href="#">This is a link</a>
-#       </div>
-#     </div>
-#   </div>
-# </div>
%h4
  -if user_signed_in?
    Hi!
    =current_user.name
.row
  .col.s12.m6
    - @blogs.each do |blog|
      .card.teal
        %p
          = blog.content
        .card-action
          Written By:
          =link_to blog.user.name,root_path