.row
  .col.s8.offset-s2
    - @blogs.each do |blog|
      .card.teal
        %p
          = blog.content
        .card-action.blog__info
          .card-action__element
            Written By:
            =link_to blog.user.name, user_path(blog.user.id)
          .card-action__element
            = blog.liked_users.count.to_s + "件のいいね"
          .card-action__element
            -if user_signed_in?
              -if current_user.already_liked?(blog)
                いいね！しました
                -# =link_to 'いいね！を取り消す',like_path(@like.id), method: :DELETE
              -else
                =link_to 'いいね！',blog_likes_path(blog.id), method: :POST
          .card-action__element
            =blog.created_at.to_s(:datetime)
        -if user_signed_in? &&current_user.id == blog.user.id
          .card-action
            = link_to 'Edit', edit_blog_path(blog.id)
            = link_to 'Delete', "blogs/#{blog.id}",method: :delete

